# skyfield data files
Leap_Second.dat
de421.bsp
deltat.data
deltat.preds

### Django ###
*.log
**/*.log
*.pot
**/*.pot
*.pyc
**/*.pyc
__pycache__/
**/__pycache__/
local_settings.py
**/local_settings.py
db.sqlite3
**/db.sqlite3
media
**/media
